.infolettre {
  width: max-content;
  display: flex;
  gap: 30px;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: rgb(226, 233, 255);
}

.infolettre img {
  width: 300px;
}
.infolettre > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 30px;
}
.infolettre h1 {
  font-size: 42px;
  padding-bottom: 20px;
}
.infolettre .nav-cta {
  width: max-content;
  margin: 0 auto;
}
.infolettre input {
  border: none;
  padding: 20px;
  height: 50px;
  width: 450px;
  margin: 0 auto;
  border: 1px solid #868e96;
}

@media only screen and (max-width: 600px) {
  .infolettre input {
    max-width: 350px;
  }
}
